.about-area {
  padding-top: 5%;
  background: #121212;
}

.about-img {
  position: relative;
}

.about-img:before {
  position: absolute;
  content: "";
  left: 25px;
  top: 20px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 300px;
  max-width: 100%;
}
.about-img img {
  height: 280px;
  width: 300px;
  max-width: 100%;
}

about-text {
  padding-top: 20%;
}

.about-text h2 {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
}

.about-text p {
  font-size: 18px;
  color: #ddd;
}

.profileButton {
  background: orangered;
  color: #fff;
  padding: 7px 15px;
  display: inline-block;
  margin-top: 20px;
}

/* .horizontalBlackLine {
  width: 2000px;
  height: 30px;
  border-radius: 5px;
  background-color: red;
} */
