/* body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.curved {
  background: rgb(25, 25, 25);
  color: #fff;
  text-align: center;
}

.curved h1 {
  font-size: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
}

.curved p {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 5rem 0 5rem;
}

.curved svg {
  display: block;
} */

.about-area {
  padding-top: 5%;
  background: #131f33;
}

.about-img {
  position: relative;
}

.about-img:before {
  position: absolute;
  content: "";
  left: 25px;
  top: 20px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 300px;
  max-width: 100%;
}
.about-img img {
  height: 280px;
  width: 300px;
  max-width: 100%;
}

about-text {
  padding-top: 20%;
}

.about-text h2 {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
}

.about-text p {
  font-size: 18px;
  color: #ddd;
}

.about-text a {
  background: orangered;
  color: #fff;
  padding: 7px 15px;
  display: inline-block;
  margin-top: 20px;
}

.projectFont {
  color: black;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.projectsContainer {
  margin-top: 50px;
}

.centerThis {
  text-align: center;
  margin-bottom: 100px;
}
