.footerContainer {
  background: #202020;
}

.square {
  top: 40px;
  height: 80px;
  width: 80px;
  max-width: 100%;
  background-color: #373c44;
  position: relative;
  left: 46%;
  overflow: hidden;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}
.square2 {
  left: 38%;
  top: -40px;
}

.square3 {
  left: 54%;
  top: -120px;
}

.square:hover {
  background-color: #fcf951ff;
  cursor: pointer;
}

.kitty {
  position: absolute;
  bottom: -63%;
  left: -60%;
  height: 180px;
  width: 180px;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.square:hover .kitty {
  /* I CAN ALSO PASS IN BACKWARDS, ALTERNATE-REVERSE, ALTERNATE */
  -webkit-animation: up 0.75s forwards;
}
@-webkit-keyframes up {
  50% {
    bottom: 40px;
  }
  51% {
    top: 24px;
    content: url("./icons/CatChange.png");
  }
  100% {
    top: -50px;
    content: url("./icons/CatChange.png");
  }
}
@keyframes up {
  50% {
    bottom: 40px;
  }
  51% {
    top: 24px;
    content: url("./icons/CatChange.png");
  }
  100% {
    top: -50px;
    content: url("./icons/CatChange.png");
  }
}

.bottomName {
  text-align: center;
}
