.footerContainer {
  background: #202020;
}

.square {
  top: 40px;
  height: 80px;
  width: 80px;
  max-width: 100%;
  background-color: #373c44;
  position: relative;
  left: 46%;
  overflow: hidden;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}
.square2 {
  left: 38%;
  top: -40px;
}

.square3 {
  left: 54%;
  top: -120px;
}

/* github */
.square:hover {
  background-color: #389fff;
  cursor: pointer;
}
/* linkedin */
.square2:hover {
  background-color: tomato;
  cursor: pointer;
}
/* resume */
.square3:hover {
  background-color: #fcf951ff;
  cursor: pointer;
}

.kitty {
  position: absolute;
  bottom: -63%;
  left: -60%;
  height: 180px;
  width: 180px;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.linkedIn {
  position: absolute;
  bottom: -63%;
  left: -63%;
  height: 180px;
  width: 180px;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.resume {
  position: absolute;
  bottom: -67%;
  left: -63%;
  height: 180px;
  width: 180px;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.square:hover .kitty {
  /* I CAN ALSO PASS IN BACKWARDS, ALTERNATE-REVERSE, ALTERNATE */
  -webkit-animation: up 0.75s forwards;
}
@-webkit-keyframes up {
  50% {
    bottom: 40px;
  }
  51% {
    top: 24px;
    content: url("./icons/CatChange.png");
  }
  100% {
    top: -50px;
    content: url("./icons/CatChange.png");
  }
}
@keyframes up {
  50% {
    bottom: 40px;
  }
  51% {
    top: 24px;
    content: url("./icons/CatChange.png");
  }
  100% {
    top: -50px;
    content: url("./icons/CatChange.png");
  }
}

.square2:hover .linkedIn {
  /* I CAN ALSO PASS IN BACKWARDS, ALTERNATE-REVERSE, ALTERNATE */
  -webkit-animation: up2 0.75s forwards;
}
@-webkit-keyframes up2 {
  50% {
    bottom: 40px;
  }
  51% {
    top: 24px;
  }
  100% {
    top: -50px;
  }
}
@keyframes up2 {
  50% {
    bottom: 40px;
  }
  51% {
    top: 24px;
  }
  100% {
    top: -50px;
  }
}

.square3:hover .resume {
  /* I CAN ALSO PASS IN BACKWARDS, ALTERNATE-REVERSE, ALTERNATE */
  -webkit-animation: up3 0.75s forwards;
}
@-webkit-keyframes up3 {
  50% {
    bottom: 40px;
  }
  51% {
    top: 28px;
    content: url("./icons/resChange.png");
  }
  100% {
    top: -50px;
    content: url("./icons/resChange.png");
  }
}
@keyframes up3 {
  50% {
    bottom: 40px;
  }
  51% {
    top: 28px;
    content: url("./icons/resChange.png");
  }
  100% {
    top: -46px;
    content: url("./icons/resChange.png");
  }
}

.bottomName {
  text-align: center;
}
