.projectFont {
  color: black;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.projectsContainer {
  margin-top: 50px;
}

.centerThis {
  text-align: center;
  margin-bottom: 100px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#noPadding {
  padding-left: 0px;
  padding-right: 0px;
  align-self: center;
}
